{% extends 'base.html' %}
{% load static %}
{% block title %}{{ artist.name }}{% endblock title %}
{% block content %}

    <div class="col-md-12 pt-3">
            <nav aria-label="breadcrumb">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'genre_detail' artist.genre.slug %}">
                            
                            {{ artist.genre.name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ artist.name }}
                    </li>
                </ol>

            </nav>

            <div class="row">

                <div class="col-md-4">
                    <img src="{{ artist.image.url }}" class="img-fluid">
                </div>
                <div class="col-md-8 mt-3">

                    <h4>{{ artist.name }}</h4>
                    <hr>
                    <p>Жанр: {{ artist.genre.name }}</p>
                    <p>Участники:
                        <ul>
                            {% for member in artist.members.all %}
                            <li>{{ member.name }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                    <p>{{ artist.description }}</p>
                    <a href="{% url 'albums' artist.slug %}" class="btn btn-dark" role="button">
                        Дискография
                    </a>
                    

                </div>

            </div>

            <h5 class="mt-3">Галерея изображений</h5>

                <div class="row">

                    {% for item in artist.images.all %}

                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <a href="{% get_media_prefix %}{{ item.image }}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img src="{{ item.image.url }}" class="img-fluid">
                            </a>
                        </div>

                    {% endfor %}

                </div>

    </div>

{% endblock content %}