{% extends 'base.html' %}
{% block title %}{{ new.slug }}{% endblock title %}
{% block content %}

    <div class="col-md-12 pt-3">
            <nav aria-label="breadcrumb">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'news' %}">Новости</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ new.title }}
                    </li>
                </ol>

            </nav>

            <div class="row">

                <div class="col-md-8">

                    <h4>{{ new.title }}</h4>
                    <hr>
                    <p>{{ new.description }}</p>
                    <p>
                        Дата выхода: {{ new.date|date:"d-m-Y" }}
                    </p> 

                </div>

            </div>


    </div>

{% endblock content %}