{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Обсуждения{% endblock title %}
{% block content %}
        <h4 class="text-center mt-3">Обсуждения</h4>
        <hr>
        <div class="col-md-12">
          <div class="row">
             
          {% for category in category %}
          <div class="col-sm-6 mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text">{{ category.description }}</p>
                <a href="{% url 'post_detail_cat' category.slug %}" class="btn btn-dark btn-block">Смотреть посты</a>
              </div>
            </div>
          </div>
          {% endfor %}

          <h4 class="text-center mt-3 mb-3">Форма создания постов</h4>
          <hr>
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        

            {{form|crispy}}

            <input type="submit" class="btn btn-dark btn-block mt-3" value="Создать пост">
        </form>
            {% for message in messages %}
            <p class="mt-2 text-success">{{ message }}</p>
            {% endfor %}

          </div>
        </div>





        
        
        
          
            
             
            
            


{% endblock content %}